body {
    background-color: #d3d3d3; /* szare tło */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 40px;
}

p {
    margin-bottom: 30px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

.box {
    background-color: #40e0d0; /* turkusowe prostokąty */
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.box h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;

}

.circle-box > div{
    width: 256px;
    height: 256px;
    border-radius: 100%
    background: #FFFFF;
    display:flex;
    justify-content: center;
    align-itmes: center;
    
}   
    
.circle-box > div > p{
    color: #FF0000
}    
